.App {
  font-family: sans-serif;
  text-align: center;
}
.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.btn-like, .btn-dislike {
  font-size:1.5rem;
}
.btn-like{
  margin: 0.5rem;
  
}